* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1660px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.header__top {
  display: flex;
  align-items: center;
  min-height: 130px;
}
.header__logo {
  margin-right: auto;
}
.header__request-call {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  padding: 9px 19px;
  margin-right: 23.5px;
  background-color: #FF0000;
  border-radius: 8px;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.header__request-call:hover {
  background-color: #f1c50e;
  color: #2A2A2A;
}
.header__request-call:active {
  background-color: #f5db72;
}
.header__delimiter {
  width: 100%;
  height: 8px;
  background-color: #169B00;
}
.header__bottom {
  min-height: 48px;
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: center;
}
.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #2A2A2A;
}
.logo__info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 210px;
  padding-left: 49px;
  background-image: url("images/icon-mark.svg");
  background-position: 10px 46px;
  background-repeat: no-repeat;
}
.logo__location {
  display: block;
  margin-top: auto;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}
.logo__name {
  text-transform: uppercase;
}

.socials {
  display: flex;
  margin-right: 12px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__icon {
  width: 62px;
  height: 62px;
}
.socials__link {
  display: block;
  height: 62px;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
}
.socials__link:hover {
  box-shadow: 0px 0px 25px rgba(42, 42, 42, 0.35);
}

.phones {
  margin-right: 25px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.phones__phone {
  color: #2A2A2A;
  transition: color 0.2s ease-in-out;
}
.phones__phone:hover {
  color: #169B00;
}
.phones__item:not(:last-child) {
  margin-bottom: 10px;
}

.basket {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  position: relative;
}
.basket svg {
  transition: fill 0.2s ease-in-out;
}
.basket:hover svg {
  fill: #169B00;
}
.basket__icon {
  width: 60px;
  height: 50px;
}
.basket_full::after {
  position: absolute;
  content: "1";
  top: -10px;
  right: -10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #FF0000;
  color: #ffffff;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  z-index: 10;
}

.nav__list {
  display: flex;
  gap: 30px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  text-transform: uppercase;
}
.nav__link {
  color: #2A2A2A;
  transition: color 0.2s ease-in-out;
}
.nav__link:hover {
  color: #169B00;
}
.nav__link:active {
  color: #6fdd5c;
}

.burger {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  position: relative;
  padding-left: 33px;
  margin-right: 33px;
  background-image: url("images/burger.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}
.burger:hover {
  color: #169B00;
}
.burger:active {
  color: #6fdd5c;
}

.menu {
  position: relative;
}
.menu-mobile {
  display: none;
}
.menu__item {
  height: 35px;
}
.menu__list {
  position: absolute;
  display: none;
  min-width: 235px;
  font-size: 15px;
  line-height: 35px;
  box-shadow: 2px 2px 8px 0 gray;
  z-index: 10;
}
.menu__list_visable {
  display: block;
}
.menu__link {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  color: #2A2A2A;
  transition: background-color 0.2s ease-in-out;
}
.menu__link:hover {
  background-color: #e6e6e6;
}

@media (max-width: 1366px) {
  .nav__list {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__top {
    flex-wrap: wrap;
    min-height: 93px;
  }
  .header__delimiter {
    display: none;
  }
  .header__request-call {
    margin-right: 13px;
    font-size: 7px;
    line-height: 1;
  }
  .header__bottom {
    display: none;
  }
  .header__inner {
    display: flex;
    width: 100%;
  }

  .logo__img {
    width: 50px;
    height: 37px;
  }

  .logo__location {
    display: none;
  }

  .logo__info {
    max-width: 57px;
    padding-left: 7px;
    font-size: 5px;
    line-height: 1;
  }

  .socials {
    margin-right: 7px;
  }
  .socials__link {
    width: 25px;
    height: 25px;
  }
  .socials__icon {
    width: 25px;
    height: 25px;
  }
  .socials__item:not(:last-child) {
    margin-right: 4px;
  }

  .phones {
    margin-right: 0;
    font-size: 10px;
    line-height: 12px;
  }

  .basket__icon {
    width: 20px;
    height: 20px;
  }

  .basket_full::after {
    top: -3px;
    right: -3px;
    width: 11px;
    height: 11px;
    font-size: 7px;
    line-height: 11px;
  }

  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
    margin-right: auto;
  }
  .menu__list {
    top: 23px;
  }

  .burger {
    padding-right: 5px;
    padding-left: 31px;
    margin-right: 0;
    border-radius: 3px;
    border: 0.2px solid #2A2A2A;
    background-size: 17px 8px;
    background-position: 7px center;
    font-size: 7.5px;
    line-height: 20px;
  }
}