$darckBackground: #202020;
$container1920: 1352px;
$darckText: #2A2A2A;
$whiteText: #ffffff;
$hoverGreenText: #169B00;
$activeGreenText: #6fdd5c;
$hoverYellowBg: #f1c50e;
$activeYellowBg: #f5db72;
$padding768: 27px;
$padding320: 21px;
