@import '_variables.scss';
@import '_mixin.scss';

.articles {
  margin-bottom: 90px;
  position: relative;

  &__title {
    margin-bottom: 60px;
  }

  &__green-bg {
    top: 72px;
    height: 460px;

    &_single-page {
      top: 150px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  &__container-single-page {
    display: flex;
    flex-direction: column;
  }
}

.article-more-info {

  &__title {
    margin-bottom: 85px;
    font-size: 35px;
    line-height: 1;
    color: $darckText;
    text-align: center;
  }

  &__img:not(:last-child) {
    margin-bottom: 70px;
  }

  &__left {
    margin-right: 35px;
  }

  &__right {
    max-width: 1100px;
  }

  &__inner {
    display: flex;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: $darckText;
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
  }

  &__list {
    padding-left: 22px;
    list-style-type: decimal;
  }
}

.article {
  display: flex;
  height: 100%;
  padding: 30px 30px 50px;
  background-color: $whiteText;
  border-radius: 10px;
  box-shadow: 0px 9px 14.7px rgba(0, 0, 0, 0.24);

  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-left: 19px;
  }

  &__more-info {
    visibility: hidden;
    max-height: 0;
    transition: max-height 1s ease-in-out;

    &_visable {
      visibility: visible;
      margin-top: 50px;
      max-height: 3000px;
    }
  }

   &__more {
    @include buttonReset();
    margin: 50px auto 0;

    &_hidden {
      display: none;
    }
  }

  &__more-icon {
    width: 57px;
    height: 57px;
    fill: #2a2a2a;
    transition: fill .2s ease-in-out,opacity .2s ease-in-out;
    opacity: .1;
  }

  &__title {
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    color: $darckText;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 28px;
    color: $darckText;
    font-weight: 400;
  }

  &__link {
    display: block;
    margin-top: auto;
    font-size: 21px;
    line-height: 1;
    font-weight: 700;
    color: $hoverGreenText;
    transition: color .2s ease-in-out;

    &:hover {
      color: $hoverYellowBg
    }

    &:active {
      color: $activeYellowBg;
    }
  }
}

@media (max-width: 1366px) {
  .articles {
    &__container {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 130px;
    }

    &__green-bg {
      height: calc(100% + 90px);
      top: -90px;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &__container-single-page {
      position: relative;
    }
  }

  .article-more-info__inner {
    flex-direction: column;
  }

  .article-more-info__img:not(:first-child) {
    display: none;
  }

  .article-more-info__img:first-child {
    margin: 0 auto 40px;
  }

  .articles__green-bg_single-page  {
    height: 100%;
  }
}

@media (max-width: 976px) {
  .articles {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;
    }

    &__list {
      gap: 24px;
    }

    &__green-bg {
      top: 50px;
      height: 700px;
    }
  }

  .article-more-info__text {
    font-size: 19px;
  }

  .article {
    padding: 20px 19px 35px;

    &__title {
      font-size: 19px;
      line-height: 1;
    }

    &__text {
      display: none;
    }

    &__link {
      font-size: 16px;
    }
  }
}

@media (max-width: 576px) {
  .articles {
    margin-bottom: 30px;

    &__container {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 0;
    }

    &__green-bg {
      top: 30px;
      height: 100%;
    }

    &__list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
    }

    &__item:nth-child(n+4) {
      display: none;
    }
  }

  .article-more-info__text {
    font-size: 10px;
  }

  .article {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      width: 100%;
      margin: 20px 0 0;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 20px;
      text-align: center;
    }

    &__text {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }

    &__link {
      font-size: 20px;
      text-align: center;
    }
  }
}
