@import '_variables.scss';
@import '_mixin.scss';

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1660px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.section-title {
  font-size: 34px;
  line-height: 1.5;
  font-weight: 800;
  color: $darckText;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;

  &__green {
    color: $hoverGreenText;
    text-decoration: underline;
  }
}

.w100 {
  width: 100%;
}

.green-bg {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #C4E3C2;
  z-index: -1;
}

.green-text {
  color: $hoverGreenText;
  font-weight: 600;
}

.scroll-hidden {
  overflow: hidden;
}

.bread-crumbs {
  display: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $darckText;
  text-align: center;
}

@media (max-width:1366px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }

  .section-title {
    font-size: 27px;
  }
}

@media (max-width: 968px) {
  .section-title {
    font-size: 25px;
  }

  .bread-crumbs {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
    color: $darckText;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section-title {
    font-size: 20px;
  }

  .bread-crumbs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1;
  }
}
