@import '_variables.scss';
@import '_mixin.scss';

.greenhouse-product {

  &__container {
    padding-top: 30px;
    max-width: 1490px;
  }

  &__bread-crumbs {
    display: block;
    margin-bottom: 55px;
  }

  &__title {
    width: 100%;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 1430px;
    margin: 0 auto 25px;
    font-size: 21px;
    line-height: 28px;
    color: $darckText;
    text-align: center;
  }

  &__info-title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__inner {
    display: flex;
    margin-bottom: 55px;
    gap: 55px;
  }

  &__info-left {
    display: block;
    max-width: 40%;
  }

  &__info-slider {
    overflow: hidden;
  }

  &__info-pagination {
    display: flex;
    justify-content: center;
    margin-top: 70px;

    & .swiper-pagination-bullet:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__info-right {
    width: 60%;
  }

  &__equipment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #2B2B2B;
  }

  &__equipmen-title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 28px;
    font-weight: 600;
    color: $darckText;
    text-decoration: underline;
    text-transform: uppercase;
  }

  &__equipmen-list {
    max-width: 250px;
  }

  &__equipmen-item {
    position: relative;
    padding-left: 26px;
    font-size: 21px;
    line-height: 28px;
    font-weight: 600;
    color: $darckText;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $hoverGreenText;
    }
  }

  &__installation-cost-title {
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1;
    color: $darckText;
    text-decoration: underline;
  }

  &__installation-cost-text {
    font-size: 21px;
    line-height: 1;
    color: $darckText;
  }

}
