@import '_variables.scss';
@import '_mixin.scss';

.header {
  position: relative;
  z-index: 100;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

  &__top {
    display: flex;
    align-items: center;
    min-height: 130px;
  }

  &__logo {
    margin-right: auto;
  }

  &__request-call {
    @include buttonReset();
    padding: 12px 19px;
    margin-right: 23.5px;
    background-color: #FF0000;
    border-radius: 8px;
    font-size: 21px;
    line-height: 1;
    font-weight: 700;
    color: $whiteText;
    text-transform: uppercase;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
  }

  &__request-call:hover {
    background-color: $hoverYellowBg;
    color: $darckText;
  }

  &__request-call:active {
    background-color: $activeYellowBg;
  }

  &__delimiter {
    width: 100%;
    height: 8px;
    background-color: $hoverGreenText;
  }

  &__bottom {
    min-height: 48px;
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__inner {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: $darckText;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 210px;
    padding-left: 49px;
    background-image: url("images/icon-mark.svg");
    background-position: 10px 46px;
    background-repeat: no-repeat;

  }

  &__location {
    display: block;
    margin-top: auto;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
  }

  &__name {
    text-transform: uppercase;
  }
}

.socials {
  display: flex;
  margin-right: 12px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    width: 62px;
    height: 62px;
  }

  &__link {
    display: block;
    height: 62px;
    border-radius: 50%;
    transition: box-shadow .2s ease-in-out;
  }

  &__link:hover {
    box-shadow: 0px 0px 25px rgba($darckText, .35);
  }
}

.phones {
  margin-right: 25px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;

  &__phone {
    color: $darckText;
    transition: color .2s ease-in-out;
  }

  &__phone:hover {
    color: $hoverGreenText;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.basket {
  @include buttonReset();
  position: relative;

  & svg {
    transition: fill .2s ease-in-out;
  }

  &:hover svg {
    fill: $hoverGreenText;
  }
  &__icon {
    width: 60px;
    height: 50px;
  }

  &_full::after {
    position: absolute;
    content: "1";
    top: -10px;
    right: -10px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #FF0000;
    color: $whiteText;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    z-index: 10;
  }
}

.nav {

  &__list {
    display: flex;
    gap: 30px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__link {
    color: $darckText;
    transition: color .2s ease-in-out;

    &:hover {
      color: $hoverGreenText;
    }

    &:active {
      color: $activeGreenText;
    }
  }
}

.burger {
  @include buttonReset();
  position: relative;
  padding-left: 33px;
  margin-right: 33px;
  background-image: url("images/burger.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  text-transform: uppercase;
  transition: color .2s ease-in-out;

  &:hover {
    color: $hoverGreenText;
  }

  &:active {
    color: $activeGreenText;
  }
}

.menu {
  position: relative;

  &-mobile {
    display: none;
  }

  &__title {
    display: none;
  }

  &__info:not(:first-child) {
    display: none;
  }

  &__wrapp {
    display: none;
    position: absolute;
    min-width: 235px;
    z-index: 10;

    &_visable {
      display: block;
      box-shadow: 2px 2px 8px 0 rgb(128 128 128);
    }
  }

  &__list {
    font-size: 15px;
    line-height: 35px;
    background-color: $whiteText;

    &_visable {
      display: block;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    color: $darckText;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: #e6e6e6;
    }
  }
}

@media (max-width:1366px) {
  .nav__list {
    display: none;
  }

  .header__top {
    flex-wrap: wrap;
    min-height: 181px;
    padding-top: 25px;
    padding-bottom: 12px;
  }

  .header__inner {
    width: 100%;
    justify-content: end;
  }

  .phones {
    margin-right: 0;
  }

  .menu {
    position: static;

    &__info:not(:first-child) {
      display: block;
    }

    &__wrapp {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100vw;
      left: 0;
      background-color: $whiteText;
      padding: 25px 50px;
      gap: 53px;
      transform: translateX(-100%);
      transition: transform .3s ease-in-out;

      &_visable {
        transform: translateX(0);
      }
    }

    &__link {
      padding-left: 0;
      font-size: 20px;
      font-weight: 500;
    }

    &__title {
      display: block;
      margin-bottom: 10px;
      border-bottom: 1px solid $darckText;
      font-size: 20px;
      line-height: 35px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .header__bottom {
    position: relative;
  }
}

@media (max-width: 968px) {
 .header {
     &__top {
      flex-wrap: wrap;
      min-height: 225px;
      padding-top: 10px;
      padding-bottom: 30px;
    }

    &__delimiter {
      display: none;
    }

    &__request-call {
      margin-right: 30px;
      font-size: 24px;
    }

    &__bottom {
      display: none;
    }

    &__inner {
      display: flex;
      width: 100%;
      margin-top: 10px;
    }
  }


  .logo__img {
    width: 120px;
    height: 88px;
  }

  .logo__location {
    display: none;
  }

  .logo__info {
    max-width: 163px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.25;
    background-image: none;
  }

  .socials {
    margin-right: 17px;

    &__link {
      width: auto;
      height: auto;
    }

    &__icon {
      width: 60px;
      height: 60px;
    }

    &__item:not(:last-child) {
      margin-right: 17px;
    }
  }

  .phones {
    margin-right: 0;
    margin-left: auto;
    font-size: 24px;
    line-height: 1;
  }

  .basket__icon {
    width: 50px;
    height: 50px;
  }

  .basket_full::after {
    top: -3px;
    right: -3px;
    width: 27px;
    height: 27px;
    font-size: 18px;
    line-height: 27px;
  }

  .menu {
    display: none;

    &-mobile {
      display: block;
      margin-right: auto;
    }

    &__link {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }

    &__title {
      font-size: 25px;
      text-align: center;
    }

    &__wrapp {
      padding-left: 0;
      padding-right: 0;
      grid-template-columns: 1fr;
    }
  }

  .burger {
    padding-right: 11px;
    padding-left: 65px;
    margin-right: 0;
    border-radius: 5px;
    border: 0.4px solid $darckText;
    background-size: 42px 19px;
    background-position: 7px center;
    font-size: 24px;
    line-height: 50px;
  }
}

@media (max-width: 576px) {
  .header {
     &__top {
      min-height: 93px;
      padding-bottom: 10px;
    }

    &__request-call {
      margin-right: 13px;
      font-size: 7px;
      line-height: 1;
    }

  }

  .logo__img {
    width: 50px;
    height: 37px;
  }

  .logo__location {
    display: none;
  }

  .logo__info {
    max-width: 57px;
    padding-left: 7px;
    font-size: 5px;
    line-height: 1;
  }

  .socials {
    margin-right: 7px;

    &__icon {
      width: 25px;
      height: 25px;
    }

    &__item:not(:last-child) {
      margin-right: 4px;
    }
  }

  .phones {
    margin-right: 0;
    margin-left: 0;
    font-size: 10px;
    line-height: 12px;
  }

  .basket__icon {
    width: 20px;
    height: 20px;
  }

  .basket_full::after {
    top: -3px;
    right: -3px;
    width: 11px;
    height: 11px;
    font-size: 7px;
    line-height: 11px;
  }

  .menu {
    display: none;

    &-mobile {
      display: block;
      margin-right: auto;
    }

    &__list {
      top: 23px;
    }

    &__title {
      font-size: 15px;
    }

    &__link {
      font-size: 12px;
    }
  }

  .burger {
    padding-right: 5px;
    padding-left: 31px;
    margin-right: 0;
    border-radius: 3px;
    border: 0.2px solid $darckText;
    background-size: 17px 8px;
    background-position: 7px center;
    font-size: 7.5px;
    line-height: 20px;
  }

}


