@import '_variables.scss';
@import '_mixin.scss';

.promotion-banner {
  margin-bottom: 90px;

  &__container {
    position: relative;
    max-width: 1920px;
    min-height: auto;
  }

  &__img {
    width: 100%;
    min-height: 516px;
    object-fit: none;
  }

  &__text {
    margin: 20px auto 20px;
    max-width: 1630px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    color: $darckText;
    text-align: center;
  }

  &__container-single-page {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1366px) {
  .promotion-banner__img {
    object-fit: cover;
  }

  .promotion-banner__container {
    padding-left: 0;
    padding-right: 0;
  }

  .promotion-banner__text {
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 968px) {
  .promotion-banner__img {
    object-fit: contain;
    min-height: auto;
  }

  .promotion-banner__text {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .promotion-banner {
    margin-bottom: 30px;
  }

  .promotion-banner__text {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
