@import '_variables.scss';
@import '_mixin.scss';

.us-ptojects {
  margin-bottom: 90px;

  &__title {
    margin-bottom: 50px;
    text-decoration: none;
  }

  &__info {
    display: block;
    max-width: 1240px;
    margin: 0 auto 65px;
    font-size: 27px;
    line-height: 28px;
    font-weight: 300;
    color: $darckText;
    text-align: center;
  }

  &__info-text {
    display: block;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1366px) {
  .us-ptojects {
    &__info {
      margin-bottom: 60px;
      font-size: 21px;
    }
  }
}

@media (max-width: 576px) {
  .us-ptojects {
    margin-bottom: 30px;
    
    &__info {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 35px;
    }
  }

}

